.terms__ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
}

.terms {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.terms__list {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
}
.terms__pagination {
  position: sticky;
  bottom: 16px;
  left: 0;
  width: 100%;
  background: #222;
  color: #fff;
  z-index: 2;
  padding: 0.5em 0.2em;
  border-top: 1px solid #333;
  border-radius: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
